.table-container {
  width: 100%;
}

.table-header, .table-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.table-header {
  height: 49px;
  background: rgba(255, 255, 255, 0.03);
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.header-cell, .cell {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.table-row {
  height: 52px;
  background-color: rgba(255, 255, 255, 0.03);
  border-bottom: 1px solid rgba(35, 6, 164, 1);
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.index { flex: 0.5; }
.name, .department { flex: 1.5; }
.amount, .status { flex: 1; }
.actions { flex: 1.5; display: flex; justify-content: center; }

.status-badge {
  padding: 5px 10px;
  border-radius: 25px;
  display: inline-block;
}

.status-badge.active { background-color: #01ea2b; }
.status-badge.inactive { background-color: #ea0101; }

.edit-btn, .view-details {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

.edit-btn { font-size: 20px; margin-right: 10px; }

@media (max-width: 768px) {
  .table-header { font-size: 12px; }
  .header-cell, .cell { padding: 5px; }
  .table-row { flex-direction: column; align-items: flex-start; height: auto; }
}
