* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tab-bar {
  width: 100%;
  min-width: 320px;
  height: 79px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.tab-bar-content {
  width: 100%;
  max-width: 1202px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-section {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.icon-wrapper:hover {
  opacity: 0.8;
}

.icon {
  width: 20px;
  height: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.user-name {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
}

.role-title {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
  margin-left: 40px;
}
