/* Container chính */
.staff-table-container {
  width: 100%;
  padding: 20px;
  background-color: #0c014d;
  margin-top: 50px;
  position: relative;
}

/* Header chứa thanh tìm kiếm và nút */
.staff-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 12px 0ox;
  /* background: linear-gradient(to right, #3b3b98, #262673); */
  border-radius: 8px;
  font-size: 20px;
}

/* Bảng nhân viên */
.staff-table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  border-style: solid;
  border-width: 10px;
  border-color: white;
}

.staff-table thead {
  background-color: #2a0b55;
  color: white;
}

.staff-table th {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-weight: 700;
  padding: 14px 20px;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.staff-table td {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5 px;
  color: white;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  max-height: 60vh;
}


.staff-table-row:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

/* Trạng thái làm việc */
.status-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.status-circle.active {
  background-color: #2ecc71;
}

.status-circle.inactive {
  background-color: #e74c3c;
}

/* Nút xóa */
.delete-icon {
  background: none;
  border: none;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  transition: 0.3s;
}

.delete-icon:hover {
  color: #c0392b;
}

.table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: inherit;
}

.table-search-staff-input {
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  background-color: transparent;
  color: #fff;
  width: 300px;
  margin-right: 550px;
}

.table-button-container {
  display: flex;
  gap: 10px;
}

.table-button {
  width: 100px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #5c30fb;
  background-color: #060070;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.staff-search-bar-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  margin-right: 550px;
}

.search-bar-input::placeholder {
  color: #fff;
}

.search-container {
  position: relative;
  display: inline-block;
}
