.layout-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(116.82deg, rgb(21,14,95) 1%, rgb(20,10,88) 22%, rgb(42,27,130) 28%, rgb(182,174,206) 100%);
}

.sidebar {
  flex-grow: 0;
  width: 210px;
  height: auto;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: auto;
}

.header {
  flex-grow: 0;
  height: auto;
}

.main-content {
  padding: 20px;
  flex-grow: 1;
}

.title {
  color: #fff;
  font-family: "Poppins, sans-serif";
  font-size: 24px;
  margin-bottom: 20px;
}

.payroll-table {
  flex-grow: 1;
  height: auto;
}
