.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns:
    minmax(50px, 0.5fr) /* ID */
    minmax(150px, 1.5fr) /* Name */
    minmax(120px, 1fr) /* Department */
    minmax(100px, 1fr) /* Base Salary */
    minmax(100px, 1fr) /* Bonuses */
    minmax(100px, 1fr) /* Deductions */
    minmax(100px, 1fr) /* Net Salary */
    minmax(100px, 1fr) /* Status */
    minmax(150px, 1.5fr); /* Actions */
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.03);
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 14px;
}

.table-header {
  font-weight: 600;
  border-bottom: 1px solid rgba(35, 6, 164, 0.9);
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-row {
  border-bottom: 1px solid rgba(35, 6, 164, 0.5);
}

.cell {
  display: flex;
  align-items: center;
}

.cell-name {
  text-align: left;
  justify-content: flex-start;
}

.text-right {
  justify-content: flex-end;
  text-align: right;
}

.status-badge {
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 12px;
  text-transform: capitalize;
}

.status-badge.present {
  background-color: #01ea2b;
}

.status-badge.absence {
  background-color: #ff4d4d;
}

.status-badge.leave {
  background-color: #ffa500;
}
.cell-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.edit-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  margin-right: 50px;
}

.view-details {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-style: italic;
  padding: 0;
  text-decoration: underline;
}
