.payroll {
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #0A007E, #ffffff);

}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 15px;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #0C014D;
  margin: 0 20px 20px 0;
}
