.dashboard-title-container {
  display: flex;
  flex-direction: column; /* Xếp theo chiều dọc */
  align-items: flex-start; /* Đặt title bên trái */
  padding: 20px;
  background: none;
  width: 100%;
  max-width: 100vw;
}

.dashboard-title-container .title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

/* Đưa phần mô tả ra giữa */
.dashboard-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa ngang */
  justify-content: center;
  font-style: italic;
  font-weight: 100;
  color: #beb3b3;
  gap: 8px;
  margin-top: 130px;
  font-size: 14px;
}

.hr-dashboard-container {
  background: linear-gradient(
    116.82deg,
    rgb(33, 32, 45) 1%,
    rgb(20, 10, 88) 22%,
    rgb(42, 27, 130) 28%,
    rgb(182, 174, 206) 100%
  );
  min-height: 100vh;
  padding: 20px;
}

/* Responsive giữ nguyên */
@media (max-width: 768px) {
  .dashboard-title {
    padding: 10px;
  }

  .dashboard-title .title {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .dashboard-title {
    padding: 5px;
  }

  .dashboard-title .title {
    font-size: 16px;
  }
}
