/* SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 332px;
  height: 39px;
  background-color: #060070;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.search-icon {
  width: 13.49px;
  height: 13.49px;
  margin-right: 10px;
}

.search-input {
  flex-grow: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.search-input::placeholder {
  color: #fff;
  opacity: 1;
}

@media (max-width: 400px) {
  .search-bar-container {
    max-width: 100%;
  }
}

