.layout-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: row;
  background: linear-gradient(116.82deg, rgb(21,14,95) 1%, rgb(20,10,88) 22%, rgb(42,27,130) 28%, rgb(182,174,206) 100%);
}

.sidebar-container {
  flex-grow: 0;
  flex-shrink: 0;
  width: 210px;
  height: auto;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: auto;
}

.header-container {
  flex-grow: 0;
  flex-shrink: 0;
  height: 90px;
}

.content-area {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
}

.add-employee-button-container {
  align-self: flex-end;
  margin-bottom: 20px;
}

.attendance-table-container {
  flex-grow: 1;
  overflow: auto;
}

