body {
  background-color: #0c014d;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.employee-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1204px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.top-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.top-section > * {
  flex-grow: 1;
  margin: 0 10px;
}

.employee-form > *:not(.top-section) {
  margin: 10px 0;
}

.name-input-section {
  display: flex;
  align-items: center;
  background-color: #02003d;
  border-radius: 30px;
  padding: 20px;
  gap: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

.user-icon {
  width: 28px;
  height: 30px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
}

.input-group {
  display: flex;
  gap: 8px;
}

.input-group label {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
}

.name-input {
  width: 100%;
  max-width: 204px;
  height: 35px;
  background-color: #060070;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0 10px;
}

.name-input:hover {
  background-color: #080090;
}

.name-input:focus {
  outline: none;
  background-color: #0a00b0;
}

.profile-picture-section {
  background-color: #02003d;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.upload-container {
  width: 100%;
  max-width: 301.5px;
  height: 127px;
  background-color: #afb1b7;
  border: 0.6px solid #0b1739;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.upload-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
}

.upload-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.upload-text {
  text-align: center;
}

.upload-text p {
  font-family: "Mona-Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: rgba(27, 31, 38, 0.72);
  margin: 0;
}

.file-types {
  margin-top: 4px !important;
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-preview {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.delete-button {
  background: none;
  border: none;
  font-family: "Mona-Sans", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  color: #aeb9e1;
  cursor: pointer;
  margin-top: 10px;
}

.delete-button:hover {
  text-decoration: underline;
}

.email-phone-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #02003d;
  border-radius: 30px;
  padding: 35px 40px;
  box-sizing: border-box;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.input-group .department,
.input-group .salary {
  margin-left: 50px;
}
.input-group .job-title,
.input-group .hire-date {
  margin-left: 300px;
}

.icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.icon.phone-icon {
  margin-left: 200px;
}

.label {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 14px;
  white-space: nowrap;
}

.input-field {
  width: 204px;
  height: 35px;
  background-color: #060070;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 0 10px;
}

.input-field.input-jobTitle,
.input-field.input-hireDay {
  margin-right: 40px;
}

.input-field:hover {
  background-color: #080090;
}

.input-field:focus {
  outline: none;
  background-color: #0a00b0;
}

.department-job-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #02003d;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.input-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.salary-hire-date-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #02003d;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.short-description-section {
  background: #02003d;
  border-radius: 30px;
  padding: 20px;
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description-label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 14px;
}

.pencil-icon {
  width: 11.25px;
  height: 11.25px;
}

.description-input {
  height: 26px;
  width: 80%;
  background: #060070;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 15px;
  padding: 5px 10px;
  resize: none;
}

.description-input::placeholder {
  color: #ffffff;
}

.description-input:focus {
  outline: none;
  border: 1px solid #1a1a8a;
}

.description-input:hover {
  background: #080090;
}

.add-employee-button {
  position: absolute;
  bottom: 0;
  width: 149px !important;
  height: 39px;
  background-color: #060070;
  border: 1px solid #5c30fb;
  border-radius: 0;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.add-employee-button:hover {
  background-color: #0a0090;
}

.add-employee-button:active {
  background-color: #040050;
}
