.charts-section {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  gap: 20px;
}

.summary-cards {
  display: flex;
  background: #02003d;
  border-radius: 16px;
  border: 1px solid #e4e4e7;
  padding: 24px;
  gap: 20px;
  flex-wrap: wrap;
}

.summary-card {
  display: flex;
  gap: 16px;
  position: relative;
  flex: 1 1 30%;
  min-width: 200px;
}

.card-icon {
  width: 24px;
  height: 24px;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-family: Inter;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 160%;
  color: #ffffff;
}

.card-value {
  font-family: Inter;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 160%;
  color: #ffffff;
  text-align: center;
}

.card-divider {
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #f4f4f5;
}

.charts-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.pie-chart-section, .line-chart-section {
  background: #02003d;
  border-radius: 50px;
  padding: 20px;
  flex: 1 1 45%;
  min-width: 300px;
}

.chart-title {
  color: #ffffff;
  font-family: Inter;
  font-size: 14px;
  margin-bottom: 20px;
}

.pie-chart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pie-image {
  width: 248px;
  height: 248px;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.line-chart {
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
}

.y-axis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  height: 152px;
  margin-bottom: 10px;
}

.graph-image {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.x-axis {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: Inter;
  font-size: 10px;
  font-weight: 600;
  margin-top: 10px;
}

